<th:block xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          th:fragment="frag(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Title</title>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content="Fali"/>
    
    <script type="text/javascript" 	th:src="@{/js/jquery.min.js}"></script>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
	<link th:href="@{/css/stylish-portfolio.css}" rel="stylesheet"></link>
	<script type="text/javascript" 	th:src="@{/js/bootstrap.min.js}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>

</th:block>