<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <servlet>
        <servlet-name>UploadMultimedia</servlet-name>
        <servlet-class>sk.mlp.file.UploadMultimedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTrackFileOnly</servlet-name>
        <servlet-class>sk.mlp.file.UploadTrackFileOnly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTrackInfo</servlet-name>
        <servlet-class>sk.mlp.file.SaveTrackInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTrack</servlet-name>
        <servlet-class>sk.mlp.file.SubmitTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteNewTrack</servlet-name>
        <servlet-class>sk.mlp.file.WriteNewTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDrawTrackInfo</servlet-name>
        <servlet-class>sk.mlp.file.SaveDrawTrackInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDrawTrack</servlet-name>
        <servlet-class>sk.mlp.file.SubmitDrawTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find</servlet-name>
        <servlet-class>Find.Find</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearFileLog</servlet-name>
        <servlet-class>sk.mlp.logger.ClearFileLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverYourPassword</servlet-name>
        <servlet-class>sk.mlp.security.RecoverYourPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadMultimedia</servlet-name>
        <url-pattern>/Logged/UploadMultimedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTrackFileOnly</servlet-name>
        <url-pattern>/Logged/UploadTrackFileOnly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTrackInfo</servlet-name>
        <url-pattern>/Logged/SaveTrackInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTrack</servlet-name>
        <url-pattern>/Logged/SubmitTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteNewTrack</servlet-name>
        <url-pattern>/Logged/WriteNewTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDrawTrackInfo</servlet-name>
        <url-pattern>/Logged/SaveDrawTrackInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDrawTrack</servlet-name>
        <url-pattern>/Logged/SubmitDrawTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find</servlet-name>
        <url-pattern>/Logged/Find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearFileLog</servlet-name>
        <url-pattern>/Logged/ClearFileLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverYourPassword</servlet-name>
        <url-pattern>/RecoverYourPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   
    
    <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/app-config.xml,
			classpath:spring/sec-config.xml
			classpath:spring/db-config.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login.html</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
