<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<th:block th:include="layout/head.html :: frag('Register page')"/>
	<script th:inline="javascript"> /*<![CDATA[*/
	        
        var app = angular.module('myapp', []); 
        'use strict';
        angular.module('myApp', ['myApp.directives']);
        /* Controllers */
        function stageController($scope) {
            $scope.pw1 = 'password';
        }   
        /* Directives */
        angular.module('myApp.directives', [])
        .directive('pwCheck', [function () {
            return {
            require: 'ngModel',
            link: function (scope, elem, attrs, ctrl) {
                var firstPassword = '#' + attrs.pwCheck;
                    elem.add(firstPassword).on('keyup', function () {
                    scope.$apply(function () {
                    ctrl.$setValidity('pwmatch', elem.val() === $(firstPassword).val());
                    });
                });
            }
        }
        }]);

        /*]]>*/ 
	   </script>
</head>

<body ng-app="myApp">
	<div id="top" class="header1">
		<div class="container">
			<div id="top1">
				<a id="modal-49447" href="#modal-container-49447" data-toggle="modal"></a>

				<div class="modal fade" id="modal-container-49447" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
								<h3 class="modal-title" id="myModalLabel"> 
									<b>This email has been already used!!!</b>
								</h3>
							</div>
							<div class="modal-body">Click on the button and write new email adress...</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<form action="#" th:action="@{/register}" th:object="${user}" method="post" name="form" class="form-signin" accept-charset="Windows-1250">
				<h2 class="form-signin-heading">Registration form</h2>
				<div ng-class="{'has-error': form.email.$invalid, 'has-success': !form.email.$invalid}">
					<input type="email" name="Login" th:field="*{email}" class="form-control" placeholder="Your email address (Required)" required="required" value="" ng-model="user.email"/>
				</div>
				<br /> 
				<input type="text" name="FirstName" th:field="*{firstName}" class="form-control" placeholder="Your firstname" value=""/> 
				<br /> 
				<input type="text" name="LastName" th:field="*{lastName}" class="form-control" placeholder="Your lastname" value=""/>
				<br /> 
				<input type="number" name="Age" th:field="*{age}" class="form-control" placeholder="Age" value="" min="1"/> 
				<br />
				<select name="Activity" class="form-control" th:field="*{activity}">
					<option value=" " disabled="disabled" selected="selected">Select your Activity</option>
					<option value="Hiking">Hiking</option>
					<option value="Climbing">Climbing</option>
					<option value="Moto cycling">Moto cycling</option>
					<option value="Road tripping">Road tripping</option>
					<option value="Road cycling">Road cycling</option>
					<option value="Mountain biking">Mountain biking</option>
					<option value="Sailing">Sailing</option>
					<option value="Canoeing">Canoeing</option>
					<option value="Windsurfing">Windsurfing</option>
					<option value="Kiteboarding">Kiteboarding</option>
					<option value="Paragliding">Paragliding</option>
					<option value="Flying">Flying</option>
					<option value="Other">Other</option>
				</select> 
				<br />

				<div id="1" name="1" ng-class="{'has-error': !form.pass.$valid,  'has-success': form.pass.$valid}">
					<input type="password" id="Pass" name="Pass" th:field="*{pass}" class="form-control" placeholder="Your password (Required)" required="required" value="" ng-model="Pass"/>
				</div>
				<br />
				<div id="2" name="2" ng-class="{'has-error': form.retypeUserPass.$error.pwmatch || !form.retypeUserPass.$valid, 'has-success': !form.retypeUserPass.$error.pwmatch &amp;&amp; form.retypeUserPass.$valid}" 	ng-controller="stageController">
					<input type="password" id="RetypePass" name="RetypePass" th:field="*{retypeUserPass}" class="form-control" placeholder="Retype your password (Required)" required="required" value="" ng-model="RetypePass" pw-check="Pass" />
				</div>
				<br /> 
				<br />


				<script th:inline="javascript"> /*<![CDATA[*/
            		function check() {
           				if (document.form.Pass.value != document.form.RetypePass.value) {
                			document.form.RetypePass.setCustomValidity('The two passwords must match!');
            			} else {
                			document.form.RetypePass.setCustomValidity('');
            			}
        			}
            	/*]]>*/ </script>

				<div th:if="${usedEmail}">
					<script th:inline="javascript"> /*<![CDATA[*/ $(document).ready(function() {$('#top1').find('a').trigger('click');}); /*]]>*/ </script>
				</div>

				<button ng-disabled="!form.$valid" 	class="btn btn-lg btn-primary btn-block" type="submit" onClick="return check();">Register</button>
			</form>
			<a th:href="@{/login}" class="label" style="">Back to Login page!</a>
		</div>
	</div>
</body>

</html>
